services:
  ####################
  # Proxy server     #
  ####################
  proxy:
    container_name: proxy
    image: traefik:v3.6
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"

    ports:
      - "8080:80"
      - "8081:8080"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      #- "$XDG_RUNTIME_DIR/podman/podman.sock:/var/run/docker.sock:ro"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.redirect-root.rule=Path(`/`)"
      - "traefik.http.routers.redirect-root.entrypoints=web"
      - "traefik.http.routers.redirect-root.middlewares=redirect-to-app"
      - "traefik.http.routers.redirect-root.service=noop@internal"
      - "traefik.http.middlewares.redirect-to-app.redirectregex.regex=.*"
      - "traefik.http.middlewares.redirect-to-app.redirectregex.replacement=/app/"

  ####################
  # App server       #
  ####################
  app:
    container_name: app
    build:
      context: ./
      dockerfile: app.dockerfile

    volumes:
      - ./static:/var/www/static

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.overlay-mgr-app.rule=PathPrefix(`/app/`)"
      - "traefik.http.routers.overlay-mgr-app.entrypoints=web"
      - "traefik.http.routers.overlay-mgr-app.middlewares=strip-app-prefix"
      - "traefik.http.middlewares.strip-app-prefix.stripprefix.prefixes=/app"
      - "traefik.http.services.overlay-mgr-app.loadbalancer.server.port=80"

  ####################
  # API server       #
  ####################
  api:
    container_name: api
    build:
      context: ./
      dockerfile: api.dockerfile
      target: dev

      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}

    #ports:
    #  - "8080:8080"

    volumes:
      - .:/var/www

    depends_on:
      database:
        condition: service_healthy

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.overlay-mgr-api.rule=PathPrefix(`/api/`)"
      - "traefik.http.routers.overlay-mgr-api.entrypoints=web"
      - "traefik.http.routers.overlay-mgr-api.middlewares=strip-api-prefix"
      - "traefik.http.middlewares.strip-api-prefix.stripprefix.prefixes=/api"
      - "traefik.http.services.overlay-mgr-api.loadbalancer.server.port=80"

  ####################
  # Database server  #
  ####################
  database:
    container_name: database
    build:
      context: ./
      dockerfile: database.dockerfile

    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"

    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u overlay-mgr -poverlay-mgr --silent" ]
      interval: 3s
      timeout: 1s
      retries: 10
