#welcome {
    padding: 1em 2em;
}

@media screen and (width <= 900px) {
    .itemCard {
        height: auto !important;
    }

    .image-wrapper {
        width: 100%;
        height: auto;
    }

    .item-meta {
        padding-left: 1em !important;
    }
}

@media screen and (width <= 1180px) {
    .itemCard {
        height: 200px;
    }

    .item-meta {
        padding-left: 210px;
    }
}

@media screen and (width > 1180px) {
    .itemCard {
        height: 300px;
    }

    .item-meta {
        padding-left: 310px;
    }
}

.itemCard {
    margin: 1em;
    width: auto;
    overflow: hidden;
    border: 2px solid #cccccc;
    border-radius: 1em;
}

.itemCard .image-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    float: left;
}

.image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.itemCard .bid {
    width: calc(100% - 1em);
    height: 1.5em;
    margin-top: -2.5em;
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    font-size: 1.25em;
    padding: 0.5em;
}

/**
 * Old code below.
 */

.itemCard button {
    z-index: 200;
    margin: 2em;
    padding: 1em;
    position: relative;
}

.itemCard .bidHistoryContainer {
    text-align: center;
    background-color: rgba(40, 40, 40, 0.7);
}

.itemCard .bidHistoryContainer .showBids {
    cursor: pointer
}

.itemCard .collapsed {
    display: none;
}

/**
 * Modals
 */

@media screen and (width <= 600px) {
    #bidModal,
    #bidHistoryModal {
        width: calc(100% - 3em);
        height: calc(100% - 1em);
    }
}

@media screen and (width > 600px) {
    #bidModal,
    #bidHistoryModal {
        width: 600px;
        height: 300px;
        position: relative;
        margin: 5em auto 0;
    }
}

::backdrop {
    background-image: radial-gradient(rebeccapurple, pink);
    opacity: 0.75;
}

#bidModal,
#bidHistoryModal {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 1em;
    box-shadow: 0 0 5px 5px  rgba(40, 40, 40, 0.7);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    border: 0;
}

#bidInfoModalClose,
#bidHistoryModalClose {
    font-size: 1.5em;
    float: right;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.smsTemplate {
    color: #000;
    font-weight: bold;
}

#bidMessage,
#bidHistoryMessages {
    margin-top: 1em;
}
